

/* imported san francisco font */
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


/* assign san francisco font to heading 1 */
h1 {
    font-family: 'San Francisco';
}


.script {
    font-family: 'PetitFormalScriptRegular'; 
    font-weight: normal; 
    font-style: normal; 
}

body {
    background-color: #F8F8FF;
}


.container-fluid {
    border-bottom: 1px solid #708090
    ;
    padding-bottom: 50px;
}

.container-fluid-noborder {
    /* border-bottom: 1px solid black; */
}


/* Using definition (dl) list instead of orderd (ol) or unordered (ul) list */
/* dt is definition type */
  dl dt{
    margin: 12px 0;
    font-size: 20px;
    font-weight: 300;
    font-family: 'San Francisco' 'Lucida Sans Regular', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


/* Using Apple's link colors */
a:link {
    color:#1172C6
}

a:visited {
    color:#1172C6
}

a:hover {
    color:#1172C6
}

a:active {
    color:#1172C6
}

/* basic borders and colors */
.bs0 {
    background: #F8F8FF;
    border: 1px solid #708090
    ;
}


.colprop1 {
    margin-top: 3px;
    /* border: 1px solid black; */
}


.colprop2 {
    background: #F0F8FF;
    /* border-right: 1px solid black; */
    margin-top: 3px;
}

.containermargin {
    margin-bottom: 100px;
}


.containermargin2 {
    margin-bottom: 100px;
    background: #F8F8FF;
}

.contentbox {
    /* width: 320px;
    padding: 10px;
    margin: 10; */
    text-align: center;
    border: 1px solid black;
}

.contentbox2 {
    /* width: 320px;
    padding: 10px;
    margin: 10; */
    text-align: justify;
    width: 600px;
    padding-left: 90px;
    border: 1px solid black;
}


.contentbox2_1 {
    width: 320px;
    padding: 10px;
    margin: 10;
    text-align: left;
    /* border: 1px solid rgb(85, 223, 120); */
    }

.dropshadow {
    box-shadow: 7px 7px 9px rgb(83, 90, 96);
}

